@use "base";

/* Header */

#header,
#footer {
  height: 12vh;
}

.abs-header {
  position: absolute;
  top: 12vh;
}

@layer components {
  .header,
  .brand {
    background-color: base.$color-white;
    color: base.$color-black;
  }

  .dark-header,
  .dark-brand {
    background-color: base.$color-black;
    color: base.$color-white;
  }

  .brand {
    font-family: "Permanent Marker", cursive;
    font-weight: 200;
  }

  .starry {
    background: radial-gradient(circle at bottom, navy 0, black 100%);
  }

  body {
    @apply dark:starry;
  }

  #header {
    @apply header dark:dark-header;
  }
  
  #brand {
    @apply brand dark:dark-brand;
  }
}

#main {
  min-height: 76vh;
  position: relative;
}

.tagline {
  font-family: "Rampart One", cursive;
}

/* Icon3 */

#nav-icon3 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: base.$color-red;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 3s;
}

.animate__animated.animate__bounceInDown {
  position: fixed;
  --animation-fill-mode: inherit;
}

/* Shining Text */

.animate-shine {
  font-size: 3em;
  margin: 0 auto;
  font-weight: bold;
}

.animate-shine:hover {
  background: base.$color-super-black -webkit-gradient(
      linear,
      left top,
      right top,
      from(base.$color-super-black),
      to(base.$color-super-black),
      color-stop(0.5, base.$color-super-white)
    ) 0 0 no-repeat;
  background-size: 150px;
  color: base.$color-text;
  background-clip: text;
  animation-name: shine;
  animation-duration: 3s;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@keyframes shine {
  0%,
  10% {
    background-position: -1000px;
  }
  20% {
    background-position: top left;
  }
  100% {
    background-position: 1000px;
  }
}

/* Wave */

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: base.$color-ocean;
}

.wave {
  background: url(../../public/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

/* Eyes */

.eyes-box,
.eyes-holder {
  background-color: base.$color-black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyes-box {
  height: 600px;
  width: 600px;
  border-radius: 5%;
  position: relative;
  overflow: hidden;
}

.eyes-holder {
  height: 300px;
  width: 300px;
  position: absolute;
  animation-name: updown;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

.eyes {
  justify-content: center;
  position: relative;
  animation-name: bigger;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

.rect1,
.rect3 {
  transform-box: fill-box;
  transform-origin: center;
}

.rect1 {
  transform: rotate(-45deg);
  animation-name: hidden;
  animation-duration: 1s;
}

.rect2 {
  animation-name: hidden;
  animation-duration: 1.3s;
}

.rect3 {
  transform: rotate(45deg);
  animation-name: hidden;
  animation-duration: 1.6s;
}

.circle {
  display: flex;
  justify-content: center;
  transform: scale(1);
  animation-name: looking-eyes;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

@keyframes updown {
  1% {
    top: 149px;
  }
  10% {
    top: 140px;
  }
  30% {
    top: 160px;
  }
  50% {
    top: 140px;
  }
  70% {
    top: 160px;
  }
  90% {
    top: 140px;
  }
  100% {
    top: 150px;
  }
}

@keyframes looking-eyes {
  10% {
    transform: translate(30px, 0px);
  }
  20% {
    transform: translate(0px, 0px);
  }
  30% {
    transform: translate(-30px, 0px);
  }
  40% {
    transform: translate(-30px, 30px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(30px, 30px);
  }
  70% {
    transform: translate(-30px, 30px);
  }
  80% {
    transform: translate(30px, 30px);
  }
  90% {
    transform: translate(-30px, 30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes bigger {
  10% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(5);
  }
  60% {
    transform: scale(5);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hidden {
  0% {
    visibility: hidden;
  }
  90% {
    visibility: hidden;
  }
}

/* Text Gradient */

.linear-wipe {
  text-align: center;
  background: linear-gradient(
    to right,
    base.$color-super-white 20%,
    base.$color-ocean 40%,
    base.$color-ocean 60%,
    base.$color-super-white 80%
  );
  background-size: 200% auto;

  color: base.$color-super-black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

/* Star */

$starFieldWidth: 2560;
$starFieldHeight: 2560;
$starStartOffset: 600px;

$starOneScrollDuration: 100s;
$starTwoScrollDuration: 125s;
$starThreeScrollDuration: 175s;
$numStarOneStars: 1700;
$numStarTwoStars: 700;
$numStarThreeStars: 200;
$numComet: 10;

// .main-container {
//   display: hidden;
//   position: relative;
//   width: 100vw;
//   height: max-content;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

@function create-stars($n) {
  $stars: "#{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF";

  @for $i from 2 through $n {
    $stars: "#{$stars} , #{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF";
  }
  @return unquote($stars);
}

@mixin star-template($numStars, $starSize, $scrollSpeed) {
  z-index: 10;
  width: $starSize;
  height: $starSize;
  border-radius: 50%;
  background: transparent;
  box-shadow: create-stars($numStars);
  animation: animStar $scrollSpeed linear infinite;
  &:after {
    content: " ";
    top: -$starStartOffset;
    width: $starSize;
    height: $starSize;
    border-radius: 50%;
    position: absolute;
    background: transparent;
    box-shadow: create-stars($numStars);
  }
}

@mixin shooting-star-template($numStars, $starSize, $speed) {
  z-index: 0;
  width: $starSize;
  height: $starSize + 80px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  animation: animShootingStar $speed linear infinite;
}

.stars {
  @include star-template($numStarOneStars, 1px, $starOneScrollDuration);
}
.stars2 {
  @include star-template($numStarTwoStars, 2px, $starTwoScrollDuration);
}
.stars3 {
  @include star-template($numStarThreeStars, 3px, $starThreeScrollDuration);
}
.comet {
  @include shooting-star-template($numComet, 5px, 10s);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-#{$starFieldHeight}px)
      translateX(-#{$starFieldWidth}px);
  }
}

@keyframes animShootingStar {
  from {
    transform: translateY(0px) translateX(0px) rotate(-45deg);
    opacity: 1;
    height: 5px;
  }
  to {
    transform: translateY(-#{$starFieldHeight}px)
      translateX(-#{$starFieldWidth}px) rotate(-45deg);
    opacity: 1;
    height: 800px;
  }
}
